/.shadow-cljs/
/.clj-kondo/
/.lsp/
/node_modules/
/target/
/resources/gistemp250_GHCNv4.nc
/.cpcache/
/resources/climate-change/js
/resources/climate-change/css/
/resources/contour-by-example/js
/resources/contour-by-example/css/
.vercel
